.accordion-container {
  margin-left: 19.5%;
  margin-right: 19.5%;
}

.accordion-container.mobile {
  margin-left: 5%;
  margin-right: 5%;
}

.project-points {
  padding-left: 20px;
  list-style-type: disc;
  margin-bottom: 10px;
}

.project-points li {
  margin-bottom: 6px;
}
